#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}

.game-block {
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #ddd;
}
.piece-i {
  background-color: #ffc6ff;
}
.piece-j {
  background-color: #bdb2ff;
}
.piece-l {
  background-color: #a0c4ff;
}
.piece-o {
  background-color: #9bf6ff;
}
.piece-s {
  background-color: #caffbf;
}
.piece-t {
  background-color: #ffd6a5;
}
.piece-z {
  background-color: #ffadad;
}
.piece-preview {
  background-color: #242424;
}
